*{
    margin: 0;
}

div.head{
    background-color: inherit;
    margin-bottom: 30px;
    border-style: inset;
    border-color: crimson;
    padding: 100px;
    opacity:1;
    text-align: center;
    color: aliceblue;
    font-size: 40px;    
}



.container{
    height: 500px;
    display: flex;
    justify-content:space-around; /*Essa tag alinha os elementos ao logo do eixo principal (direita ou esquerda)*/ 
    flex-flow:wrap; /*or flex-flow: row wrap or column wrap;*/
    align-items:; /*Alinhar os elementos ao longo do eixo perpendicular(pra cima ou pra baixo), do height de 500px*/
    
}

.bloco-um{
    background-color: aliceblue;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.bloco-dois{
    background-color: cornflowerblue;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}
.bloco-tres{
    background-color:bisque;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.bloco-quatro{
    background-color:lightcoral ;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

}

.bloco-cinco{
    background-color: lightgreen;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;

}

.bloco-seis{
    background-color: lightcyan;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.bloco-sete{
    background-color: lightseagreen;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    
}

.bloco-oito{
    background-color: lightsalmon;
    border-radius: 16px;
    width: 150px;
    padding: 5px;
    margin: 10px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}

.bloco-nove{
    background-color: lightslategrey;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.bloco-dez{
    background-color: antiquewhite;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

.bloco-onze{
    background-color: tan;
    width: 150px;
    height: 150px;
    border-radius: 16px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-size:40px;
    font-family: 'Courier New', Courier, monospace;
}

.bloco-doze{
    background-color: thistle;
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 10px;
    border-radius: 16px;
    text-align: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;   
}

/*Lista de navegação*/

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; /* Centraliza os itens horizontalmente */
}

nav li {
    display: inline-block; /* Exibe os itens na mesma linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

nav a {
    text-decoration: none;
    color: #333; /* Cor dos links */
}

/*

display: flex; identificar que a tag vai ser o container de flexbox

flex-direction -> identificar qual vai ser o eixo principal e perpendicular

justify-content -> alinhar os elementos no eixo principal.

align-items -> alinhar os elementos no eixo perpendicular 

flex-wrap -> alinhar elementos em uma linha só ou não.

flex-flow: row wrap; diminuir código. mesma função do flex-wrap

align-content -> alinhar elementos em mais de uma linha. Em eixo perpendicular

gap -> coloca um espaço entre os elementos, tanto na vertical quanto na horizontal

*/